.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(180deg, blue 0%, white 100%);
}

.Quiz h1 {
    color: white;
}

.QuizWrapper {
    width: 600px;
}
